{% extends "base.html" %}
{% block content %}
  {% for key, val in queue_len.items %}
    <div>
      {{ key }} queue: {{ val }}
    </div>
  {% endfor %}
    <form action="/news/create/" method="post">{% csrf_token %}
        <label for="title">Title:</label>
        <input type="text" name="title" id="title">
        <br>
        <br>
        <label for="text">Text:</label>
        <input type="text" name="text" id="text">
        <br>
        <br>
        <button type="submit">Create article</button>
    </form>
<a target="_blank" href="/news/">News</a>
{% endblock content %}
